$color1: white;
$color2: black;
$colordeprueba: #BEA4D2;
$color3: black;
$color4: gray;
$fonts: 'Roboto', sans-serif;
$margen: 600px / 2;
$imagenDeFondo: url("img/fondo.svg");

@function toRem($valor) {
    $remValor: ($valor / 16) + rem;

    @return $remValor;
}

body {
    background-color: $color1;
    //background-image: $imagenDeFondo; 
    color: $color2;
    margin: {
        right: toRem(32);
        left: toRem(32);
        top:toRem(8);
        bottom: toRem(8);
    }
    font-family: $fonts;
    h1 {
        padding-left: toRem(5);
        font-size: 200%;
    }
}


/*header {
    margin-top: toRem(16);
    padding-left: toRem(5);
    .header__logo {
        width: toRem(500);
        height: toRem(50);
        display: flex;
    }
}
*/
.header__principal {
    margin: {
        top: toRem(16);
        bottom: toRem(50);
    }
    padding: {
        left: toRem(5);
        right: toRem(10);
    }
    display: flex;
    flex-direction: row;
    width: 100%;
    height: toRem(55);
    
    .header__logo {
        width: 50%;
        height: toRem(50);
        padding: {
            left: toRem(5);
            right: toRem(5);
        }
        .header__logo_img {
            padding-right: toRem(10);
            width: toRem(50);
            height: toRem(50);
        }
        margin: {
            right: toRem(10);
        }
    }
    .header__nav {
        width: 50%;
        display: flex;
        padding-right: toRem(5);
        justify-content: flex-end;
        align-items: center;
        a {
            padding-right: toRem(50);

        }
    }

}

section {
    font-size: toRem(15);
}
h2{
    text-align: center;
    font-weight: 400;
    font-size: toRem(25);
    border-bottom: toRem(10);
}

p {
    font-size: toRem(20);
    font-family:$fonts;
    text-align: center;
}

// .alineacionnav {
//     font-size: 50px - 20px;
//     font-weight: 1200/2;
//     border-top: 1px solid $color2;
//     border-bottom: 1px solid $color2;
//     margin: {
//         top: toRem(15);
//         bottom: toRem(45);
//     }
    

//     ul {
//         list-style-type: none;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;

//     }

//     li {
//         display: flex;
//         text-align: center;
//         padding: toRem(25);
// }

ul {
    text-align: center;
    list-style-type: none;
}

.imagen {
    border-radius:  50%;
    position: sticky;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: toRem(20);
    padding-bottom: toRem(20);
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 
// .alineacionfooter {
//     margin-top: toRem(16);
//     padding-top: toRem(50);

//     border-top: 1px solid $color2;
//     display: flex;
//     justify-content: center;
//     align-content: flex-end;
//     align-items: center;
//     ul {
//         list-style-type: none;
//         display: flex;
//         flex-direction: row;
//     }

//     li {
//         padding-left: 10px;
//         margin-right: 100px;
//         margin-bottom: 50px; 
//     }
// }

form {
    text-align: center;
    font-family: $fonts;
    font-weight: 200;
    padding-right: $margen;
    padding-left: $margen;
    margin: {
        top:toRem(50);
        left: toRem(100);
        right: toRem(100);
        bottom: toRem(100);
    }

    label {
        color: $color3;
        font-size: toRem(20);
        font-weight: 400;
    }
}

h3 {
    text-align: center;
    font-family: $fonts;
    font-weight: 300;
}
h4 {
    text-align: center;
    font: {
        family: $fonts;
        weight: 100;
        size: 125%;
    }
}

li {
    font-size: toRem(25);
}

#centro {
    margin-left: toRem(100);
    margin-right: toRem(100);
    margin-top: toRem(50);
    margin-bottom: toRem(50);
    padding-bottom: toRem(50);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: sticky;
}

#galeriaImagen {
    border-bottom: 1px solid $color2;
}

.mapa {
    margin: {
        top: toRem(50);
        bottom: toRem(25);
    }
    transition: 1s;
    &:hover {
        width: toRem(550);
        height: toRem(550);
        border-radius: toRem(50);
    }
    
}
.direccion__mapa {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $color4;
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
        }
        100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        }
        @keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
        }
        100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
        }
}

div {
    padding-left: toRem(2);
    padding-right: toRem(5);
    padding-bottom: toRem(5);
    border-style: hidden;
    border-width: 5px;
    overflow: hidden;
    width: 100%;
    height: 90%;
}

.contacto {
    display: flex;
    padding-top: toRem(10);
    padding-bottom: toRem(50);
    margin-top: toRem(5);
    justify-content: center;
}

#grilla {
    display: grid;
    grid-template-areas:
        "espacioVacio precio1 precio2 precio3"
        "servicioA precioA1 precioA2 precioA3"
        "servicioB precioB1 precioB2 precioB3"
        "servicioC precioC1 precioC2 precioC3";
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 10% 10% 10% 10%;
    padding-top: toRem(20);
    padding-bottom: toRem(20);
    justify-content: center;
    grid-column-gap: toRem(55);
    grid-row-gap: toRem(25);
    padding-left: toRem(25);
    margin: {
        top: toRem(25);
        left: toRem(25);
        bottom: toRem(50);
    }
}

.bordeServicios {
    margin {
        bottom: toRem(50);
        left: toRem(50);
        right: toRem(50);
    }
    padding-bottom: toRem(20);
}

.espacioVacio{
    grid-area: espacioVacio;
}

.servicioA {
    grid-area: servicioA;
    text-align: center;
}

.servicioB {
    grid-area: servicioB;
    text-align: center;
}

.servicioC {
    grid-area: servicioC;
    text-align: center;

}

.precio1 {
    grid-area: precio1;
    text-align: center;
}

.precio2 {
    grid-area: precio2;
    text-align: center;
}
.precio3 {
    grid-area: precio3;
    text-align: center;
}   

.precioA1 {
    grid-area: precioA1;
    text-align: center;
}   
.precioA2 {
    grid-area: precioA2;
    text-align: center;
}   
.precioA3 {
    grid-area: precioA3;
    text-align: center;
}   
.precioB1 {
    grid-area: precioB1;
    text-align: center;
}   
.precioB2 {
    grid-area: precioB2;
    text-align: center;
}   
.precioB3 {
    grid-area: precioB3;
    text-align: center;
}   
.precioC1 {
    grid-area: precioC1;
    text-align: center;
}   
.precioC2 {
    grid-area: precioC2;
    text-align: center;
}   
.precioC3 {
    grid-area: precioC3;
    text-align: center;
} 

.footer__principal {
    margin: {
        top: toRem(16);
        bottom: toRem(16);
    }
    
    .footer__iconos {
        display: flex;
        flex-direction: row;
        padding-right: toRem(10);
        padding-left: toRem(10);
        margin: toRem(5);
        justify-content: center;
        align-content: flex-end;
        align-items: flex-end;
        a {
            padding-right: toRem(24);
        }
    }
}

.section__nosotros_fundador {
    padding-top: toRem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
        .section__nosotros_fundador_img {
            border-radius: 150px;
            margin: {
                top:toRem(25);
                bottom: toRem(35);
            }
            filter: grayscale(100%);
            transition: 150ms;
        }
        .section__nosotros_fundador_img:hover {
            filter: none;
            transform: scale(1.2,1.2);
            box-shadow: 300ms linear 0ms, z-index 300ms linear 0ms;
        }
}
.section__nosotros {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: {
        bottom: toRem(75);
        top: toRem(25);
    }

    .section__nosotros_user {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .section__nosotros_user_img {
        border-radius: 150px;
        margin: {
            top: toRem(15);
            bottom: toRem(15);
        }
        filter: grayscale(100%);
        transition: 250ms;
    }
    .section__nosotros_user_img:hover {
        filter: none;
    }
}
.servicios__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: {
        bottom: toRem(50);
        top: toRem(25);
    }
    padding: {
        top: toRem(15);
        bottom: toRem(25);
    }
    .video {
        margin: toRem(25);
    }
}