body {
  background-color: black;
  background-image: url("img/fondo.svg");
  color: tomato;
  font-family: "Nunito", sans-serif;
}

body h1 {
  font-size: 300%;
}

header {
  margin-top: 2.1875rem;
  margin-left: 1.875rem;
  padding-left: 3.125rem;
}

section {
  font-size: 0.9375rem;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5625rem;
  border-bottom: 0.625rem;
}

p {
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.alineacionnav {
  font-size: 30px;
  font-weight: 1200/2;
  border-top: 1px solid tomato;
  border-bottom: 1px solid tomato;
  margin-bottom: 2.8125rem;
}

.alineacionnav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alineacionnav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 1.5625rem;
}

ul {
  text-align: center;
  list-style-type: none;
}

.imagen {
  border-radius: 50%;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alineacionfooter {
  margin-top: 35px;
  padding-top: 100px;
  border-top: 1px solid tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.alineacionfooter ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.alineacionfooter li {
  padding-left: 10px;
  margin-right: 100px;
  margin-bottom: 50px;
}

form {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  padding-right: 300px;
  padding-left: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

form label {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

li {
  font-size: 1.5625rem;
}

#centro {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  margin-top: 0.9375rem;
  margin-bottom: 1.25rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
}

#galeriaImagen {
  border-bottom: 1px solid tomato;
}

.mapa {
  margin-left: 28.125rem;
  position: -webkit-sticky;
  position: sticky;
  display: block;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.mapa:hover {
  width: 34.375rem;
  height: 34.375rem;
  border-radius: 3.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

div {
  padding-left: 0.125rem;
  padding-right: 0.3125rem;
  padding-bottom: 0.3125rem;
  border-style: hidden;
  border-width: 5px;
  overflow: hidden;
  width: 100%;
  height: 90%;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.625rem;
  padding-bottom: 3.125rem;
  margin-top: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "espacioVacio precio1 precio2 precio3" "servicioA precioA1 precioA2 precioA3" "servicioB precioB1 precioB2 precioB3" "servicioC precioC1 precioC2 precioC3";
  -ms-grid-rows: 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px;
  -ms-grid-columns: 10% 10% 10% 10%;
      grid-template-columns: 10% 10% 10% 10%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 3.4375rem;
  grid-row-gap: 1.5625rem;
  padding-left: 1.5625rem;
  margin-left: 1.5625rem;
}

.bordeServicios {
  padding-bottom: 1.25rem;
}

.bordeServicios margin {
  bottom: 3.125rem;
  left: 3.125rem;
  right: 3.125rem;
}

.espacioVacio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: espacioVacio;
}

.servicioA {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: servicioA;
  text-align: center;
}

.servicioB {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: servicioB;
  text-align: center;
}

.servicioC {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicioC;
  text-align: center;
}

.precio1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: precio1;
  text-align: center;
}

.precio2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: precio2;
  text-align: center;
}

.precio3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: precio3;
  text-align: center;
}

.precioA1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: precioA1;
  text-align: center;
}

.precioA2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: precioA2;
  text-align: center;
}

.precioA3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: precioA3;
  text-align: center;
}

.precioB1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: precioB1;
  text-align: center;
}

.precioB2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: precioB2;
  text-align: center;
}

.precioB3 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: precioB3;
  text-align: center;
}

.precioC1 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: precioC1;
  text-align: center;
}

.precioC2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: precioC2;
  text-align: center;
}

.precioC3 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: precioC3;
  text-align: center;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0.625rem;
  margin: 0.3125rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
/*# sourceMappingURL=estilo.css.map */